<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
		<listener class-name="resourses.TestListener" />
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.SGS.Test.LoginTest"/> 
     <class name="com.SGS.Test.SignupTest"/>
       <class name="com.SGS.Test.ProfileTest"/>
        <class name="com.SGS.Test.SurveyCreateCourtesyTest"/>
 <!--    <class name="com.SGS.Test.SurveyCreateTest"/>   -->

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
